/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}

.text-gradient-primary {
  background: linear-gradient(to right, #842eb4, #528bd3);
  background-clip: text;
  color: transparent;
}
